<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.imflawlezz.playlist-md</string>
    <key>CFBundleName</key>
    <string>playlist-md-core</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.2</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>playlist.md needs access to your Apple Music library to export your playlists as Markdown files.</string>
</dict>
</plist>
